body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.personal-info {
    display: block;
}
.personal-plan {
    display: none;
}
.personal-ons {
    display: none;
}
.personal-summary {
    display: none;
}