/* personal-info */
.personal-info {
    height: 85%;
    margin: 8%;
    align-items: center;
    align-content: center;
}
.personal-info-h1 {
    font-size: 280%;
    color: #013659;
    margin-bottom: 5px;
}
.personal-info-p {
    color: #01365990;
    margin-top: 0;
    font-size: 120%;
}
.info {
    margin-top: 10%;
}
.name-box {
    display:grid;
    margin-top: 0px;
    margin-bottom: 40px;
}
.name-label {
    color: #013659;
    font-size: 110%;
    margin-bottom: 5px;
}
.name {
    width: 100%;
    height: 200%;
    color: #000000;
    border: #013659 solid 0.5px;
    border-radius: 5px;
}
.personal-info-buttons {
    width: 100%;
    text-align: end;
}
.personal-info-button1 {
    color: #fff;
    background-color: #013659;
    border: #025287 solid 1px;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    font-size: 120%;
    margin-top: 15%;
}
/* .personal-info-button1:hover {
    box-shadow: #013659 00px 00px 10px;
} */
/* personal-info */

/* personal-plan */
.personal-plan {
    height: 85%;
    margin: 8%;
    align-items: center;
    align-content: center;
}
.personal-plan-h1 {
    font-size: 280%;
    color: #013659;
    margin-bottom: 5px;
}
.personal-plan-p {
    color: #01365990;
    margin-top: 0;
    font-size: 140%;
    margin-bottom: 0;
}
.personal-plan-contenar {
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}
.plan001, .plan002, .plan003 {
    border: #01365985 solid 1px;
    width: 25%;
    height: 50%;
    margin: 10px;
    border-radius: 5px;
}
#plan001:hover, #plan002:hover, #plan003:hover {
    border: #013659 solid 1px;
    box-shadow: #013659 2px 2px 10px;
}
.plan001:hover, .plan002:hover, .plan003:hover {
    border: #013659 solid 1px;
    box-shadow: #013659 2px 2px 10px;
}
.getplandev {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #01365950;
    border-radius: 10px;
}
#getplan, #getplan1, .getplan2 {
    color: #025287;
    text-shadow: #fff 1px 1px 10px;
}
/* personal-plan */

/* personal-ons */
.personal-ons {
    height: 85%;
    margin: 8%;
    align-items: center;
    align-content: center;
}
.add-ons-contener {
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.add-ons-box {
    width: 100%;
    height: 10%;
    border: #5e26d6 solid 1px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}
.box-1 {
    width: 20%;
    text-align: center;
    align-content: center;
}
.box-2 {
    width: 60%;
    text-align: left;
    align-content: center;
}
.box-3 {
    width: 20%;
    text-align: center;
    align-content: center;
}
.checkbox-ons {
    width: 30%;
    height: 30%;
}
input[class="checkbox-ons"] {
    accent-color: #4d20ae;
}
/* personal-ons */

/* personal-sammury */
.personal-summary {
    height: 85%;
    margin: 8%;
    align-items: center;
    align-content: center;
}
.summary-contener01 {
    margin-top: 50px;
    width: 100%;
    height: auto;
}
.summary-contener02 {
    width: 100%;
    height: 8%;
    display: flex;
}
.summary-div {
    width: 100%;
    height: 8%;
    margin-bottom: 5px;
    display: flex;
}
.summary-div1 {
    width: 100%;
    height: 5%;
    margin-bottom: 5px;
    display: flex;
}
.sum-div-1 {
    width: 80%;
    margin-left: 20px;
    margin-bottom: 0;
}
.sum-div-2 {
    width: 20%;
    align-content: center;
    color: #013659;
}
.removeacc-css {
    height: auto;
    padding: 0;
    margin-top: 0;
    background-color: #01365900;
    border: none;
    color: #ff0000;
    font-size: 120%;
}
.removeacc-css:hover {
    height: auto;
    padding: 0;
    margin-top: 0;
    background-color: #01365900;
    border: none;
    color: #f13636;
    font-size: 120%;
}
.d1-con-sum {
    width: 70%;
}
.d2-con-sum {
    width: 30%;
}
/* personal-sammury */
